%div.main
  =render 'groups/sidebar'
  %div.main_right
    .main_right_up
      .main_right_up_info
        %h1= @group.name
        %h5 Members: takutobaba
      .main_right_up_edit
        %a(class="edit-btn" href="/groups/#{@group.id}/edit") Edit
    .main_right_message
      %ul.chats
        = render partial: 'chat', collection: @chats
    .main_right_bottom
      .main_right_bottom_text
        = form_for [@group, @chat], class: "js_chat" do |f|
          .form
            = f.text_field :body, class: "main_right_bottom_text_input", row: "1", placeholder: "type a message"
            %label(class="photo")
              %i(class="fa fa-picture-o fa-lg fa-fw" aria-hidden="true")
          = f.submit "Send", class: "send-btn"
