= render 'flash'
%div.main
  =render 'groups/sidebar'
  %div.main_right
    .main_right_up
      .main_right_up_info
        %h1= @group.name
        %p
          Members:
          - @group.users.each do |user|
            %span= user.name
      .main_right_up_edit
        %a(class="edit-btn" href="/groups/#{@group.id}/edit") Edit
    .main_right_message
      %ul.chats
        = render partial: @chats
    .main_right_bottom
      .main_right_bottom_text
        = form_for [@group, @chat] do |f|
          #form_chat
            = f.text_field :body, class: "main_right_bottom_text_input", row: "1", placeholder: "type a message"
            %label(class="photo")
              = f.file_field :image
              %i(class="fa fa-picture-o fa-lg fa-fw" aria-hidden="true")
          = f.submit "Send", class: "send-btn"
